<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-4">Listado de Gastos</h1>


  <table class="w-full border-collapse mt-4">
    <caption class="caption-top p-3  object-right">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded object-right" (click)="openExpenseModal()">Agregar Gasto</button>
    </caption>
    <thead>
      <tr>
        <th class="border px-4 py-2 text-left font-medium">Descripción</th>
        <th class="border px-4 py-2 text-left font-medium">Monto</th>
        <th class="border px-4 py-2 text-left font-medium">Categoría</th>
        <th class="border px-4 py-2 text-left font-medium">Fecha</th>
        <th class="border px-4 py-2 text-left font-medium">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gasto of gastos" class="hover:bg-gray-100">
        <td class="border px-4 py-2">{{ gasto.Descripcion }}</td>
        <td class="border px-4 py-2 text-right">{{ gasto.Monto | currency:'USD':'symbol':'1.0-0' }}</td>
        <td class="border px-4 py-2">{{ gasto.Categoria }}</td>
        <td class="border px-4 py-2">{{ gasto.Fecha | date:'mediumDate' }}</td>
        <td class="border px-4 py-2 flex justify-end space-x-2">
          <button class="px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none">Editar</button>
          <button class="px-2 py-1 text-white bg-red-500 rounded hover:bg-red-700 focus:outline-none">Eliminar</button>
        </td>
      </tr>
      <tr *ngIf="!gastos?.length" class="text-center">
        <td colspan="5">No hay gastos para mostrar.</td>
      </tr>
    </tbody>
  </table>
  
</div>
