<div class="container-xxl bg-gray-100">
    <div class="section-header">
        <app-cabecera-componente/>
    </div>
    <div class="section-body">
        <div class="container mx-auto p-10">
            <div class="grid grid-cols-2 gap-4">
                <!-- Chart Section -->
                <div class="bg-white p-4 rounded-lg shadow-md">
                  <div class="flex justify-center items-center h-full">
                    <!-- Aquí puedes insertar tu gráfico de dona usando una librería de gráficos como Chart.js -->
                
                    <app-chart/>
                  </div>
                  
            </div>
            <div class="bg-white p-4 rounded-lg shadow-md">
                <app-gastos-home/>
            </div>

        </div>
        
    </div>
    <div class="section-footer text-white text-center py-4 mt-auto bg-sky-700">
        <a href="https://github.com/ezequiel1409" target="_blank" class="inline-block mt-2 " >
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" class="w-8 h-8 mx-auto rounded-xl">
        </a>
    </div>
    

</div>